<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <div class='ad-footer-musk'></div>
  <div class='ad-footer-icons'>
    <%=  image_tag("katayama.png", class:"logo-white") %>
    <%=  image_tag("minegisi.png", class:"logo-white") %>
    <%=  image_tag("inoue2.png", class:"logo-white") %>
    <%=  image_tag("shinjo.png", class:"logo-white") %>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>ZaikoShareについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'ZaikoShare利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>ZaikoShare関連企業</h2>
      <ul>
        <li><%= link_to 'アイカ工業株式会社', "#", class: "footer-link" %></li>
        <li><%= link_to 'KatayamaProjects', "#", class: "footer-link" %></li>
        <li><%= link_to '株式会社MineGisi', "#", class: "footer-link" %></li>
        <li><%= link_to 'MENTALISTinoue.co', "#", class: "footer-link" %></li>
        <li><%= link_to 'ShinjoAVENGERS.co', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>ZaikoShareについて</h2>
      <ul>
        <li><%= link_to 'ZaikoShareガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'ZaikoShareロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <div class='footer-info'>
  <div class='footer-border'></div>
    <ul class='footer-info-link'>
      <li class='co-tug'>© ZaikoShare</li>
      <li><%= link_to 'FAQ', "#", class: "footer-link" %></li>
      <li><%= link_to 'suport', "#", class: "footer-link" %></li>
    </ul>
  </div>
</div>