<header class='top-page-header'>
  
    <%= link_to image_tag("logow1.png", class:"zaikoshare-icon"), "/" %>
  <div class='search-bar-contents'>
    <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: " 商品を検索する", class: "search-input" %>
      <%= button_tag type: 'submit', class: "search-btn", id: "register-button" do %>
        <i class="fas fa-search" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.company, "/users/#{current_user.id}" , class: "user-company"  %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %></li>
          <%= link_to(new_item_path, class: 'purchase-btn') do %>
          <span class='listing-btn-text'>出品する</span>
          <% end %>
      <% else %>
        <li><%= link_to 'ログイン', user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>