<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.product_name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image ,class:"item-img" %>
      <% if @item.purchase.present? %>
      <div class='sold-out'>
        <span>売約済み</span>
      </div>
      <% end %>
    </div>
    <% if user_signed_in? && @item.purchase.blank? %>
      <% if current_user.id == @item.user_id %>
        <%= link_to "商品の編集", edit_item_path, method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", item_path, method: :delete, class:"item-destroy" %>
      <% else %>
        <%= link_to "購入", item_purchases_path(@item.id), class:"item-red-btn"%>
      <% end %>
    <% end %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品社</th>
          <td class="detail-value"><%= @item.user.company %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の種類</th>
          <td class="detail-value"><%= @item.type.name %></td>
        </tr>
        <tr>
          <th class="detail-item">サイズ</th>
          <td class="detail-value"><%= @item.sheet.name %></td>
        </tr>
        <tr>
          <th class="detail-item">キズ</th>
          <td class="detail-value"><%= @item.condition1.name %></td>
        </tr>
        <tr>
          <th class="detail-item">ヤケ</th>
          <td class="detail-value"><%= @item.condition2.name %></td>
        </tr>
        <tr>
          <th class="detail-item">欠け</th>
          <td class="detail-value"><%= @item.condition3.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# /商品の概要 %>

<%= render "shared/footer" %>